@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;1,400&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}
html
{
	scroll-behavior: smooth;
}
#inicio
{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(content/images/bg4.jpg);
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
#inicio .contenido header
{
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}
#inicio .contenido header .contenido-header
{
	max-width: 1100px;	
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1
{
	text-align: center;
	color: white;
}
#inicio .contenido header .contenido-header nav ul
{
	list-style: none;
	display: flex;
}
#inicio .contenido header .contenido-header nav ul li a 
{
	text-decoration: none;
	color: #fff;
	margin: 0 12px;
	font-weight: .5s;
	font-size: 13px;
	font-weight: bold;
}
#inicio .contenido header .contenido-header nav ul a:hover
{
	color: #ff8050;
}
#inicio .contenido header .contenido-header .redes a
{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin-left: 10px;
	transition: .5s;
}
#inicio .contenido header .contenido-header .redes a:hover
{
	color: #ff5080;
}

#inicio .contenido header .contenido-header .redes1 a 
{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin-left: 10px;
	transition: .5s;
}
#inicio .contenido header .contenido-header .redes1 a:hover
{
	color: #ff5080;
}
#inicio .contenido header .contenido-header .seleccionado
{
	color: #ff8050;
}
#inicio .contenido .presentacion
{
	max-width: 1100px;
	height: 100vh;
	margin: auto;
	columns: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#inicio .contenido .presentacion .bienvenida
{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
#inicio .contenido .presentacion h2
{
	font-size: 55px;
	margin-bottom: 25px;
	text-align: center;
}
#inicio .contenido .presentacion h2 span 
{
	font-size: 55px;
	color: #ff5080;
}

#inicio .contenido .presentacion .descripcion
{
	font-weight: bold;
	max-width: 700px;
	margin: 25px auto;
	font-size: 18px;
	text-align: center justify;
}
#inicio .contenido .presentacion a
{
	text-decoration: none;
	display: inline-block;
	margin: 25px;
	padding: 20px 25px;
	border-radius: 50px;
	border: 2px solid #fff;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	transition: .5s;
}
#inicio .contenido .presentacion a:hover
{
	background-color: #ff5080;
}
#icon-nav
{
	color: #fff;
	display: none;
}
/*Seccion S O B R E M I*/
#sobremi
{
	max-width: 1100px;
	margin: auto;
	padding: 100px 15px;
	color: #111135;
	display: flex;
}
#sobremi .contenedor-foto
{
	max-width: 400px;
	margin-right: 80px;
}
#sobremi .contenedor-foto img
{
	padding: 20px;
	width: 100%;
	border-radius: 20px;
	background-color: #f3f3f3;
}
#sobremi .sobremi
{
	margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion
{
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}
#sobremi .sobremi h2
{
	font-size: 28px;
	font-weight: bold;
	margin: 20px 0;
	letter-spacing: 0;
}
#sobremi .sobremi h2 span
{
	color: #ff8050;
}
#sobremi .sobremi h3
{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
#sobremi .sobremi p
{
	text-align: justify;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	color: #565656;
	margin-bottom: 12px;
}
#sobremi .sobremi a 
{
	display: inline-block;
	text-decoration: none;
	color: #000;
	padding: 10px 20px;
	border-radius: 30px;
	border: 1px solid #000;
	margin-top: 30px;
	transition: .5s;
	font-size: 18px;
	font-weight: bold;
}
#sobremi .sobremi a:hover
{
	background-color: #ff8050;
	color: #fff;
}
/*Seccion S E R V I C i O S*/
#Servicios
{
	padding: 100px 15px;
	text-align: center;
	background-color: #f3f3f3;
}
#Servicios .titulo-seccion
{
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}
#Servicios .fila
{
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
	margin: 30px auto;
}
#Servicios .fila .servicio
{
	max-width: 350px;
	background-color: #fff;
	padding: 30px;
	margin: 0 5px;
	border-radius: 5px;
	transition: .5s;
}
#Servicios .fila .servicio:hover
{
	box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
#Servicios .fila .servicio h4
{
	font-size: 22px;
	margin-bottom: 25px;
}
#Servicios .fila .servicio .icono
{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #d3d3d3;
	padding: 20px;
	margin-bottom: 25px;
}
#Servicios .fila .servicio hr 
{
	width: 30%;
	margin: auto;
	color: #000;
	margin-bottom: 25px;
}
#Servicios .fila .servicio ul 
{
	list-style: none;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
#Servicios .fila .servicio p
{
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
}
/*Seccion S K I L L S*/
.contenedor-skills
{
	background: linear-gradient(#eb5a5acc, rgba(33, 16, 16, .8)), url(content/images/fondo-skills.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 100px 0;
	text-align: center;
	letter-spacing: 5px;
}
.contenedor-skills .skill 
{
	max-width: 600px;
	margin: 30px auto;
}
.contenedor-skills .skill h3
{
	letter-spacing: 5px;
}
.contenedor-skills .skill .info
{
	display: flex;
	letter-spacing: 0;
	justify-content: space-between;
	font-size: 18px;
	font-weight: bold;
}
-.contenedor-skills .skill .lista
{
	display: inline-block;
	margin-right: 20px;
	height: 10px;
	width: 10px;
	background-color: #fff;
}
.contenedor-skills .skill .barra 
{
	background-color: #919191;
	width: 100%;
	height: 6px;
	margin: 10px 0;
}
.contenedor-skills .skill .barra .barra-progreso1
{
	background-color: #fff;
	width: 95%;
	height: 6px;
	animation: progreso1 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso2
{
	background-color: #fff;
	width: 85%;
	height: 6px;
	animation: progreso2 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso3
{
	background-color: #fff;
	width: 95%;
	height: 6px;
	animation: progreso3 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso4
{
	background-color: #fff;
	width: 100%;
	height: 6px;
	animation: progreso4 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso5
{
	background-color: #fff;
	width: 100%;
	height: 6px;
	animation: progreso5 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso6
{
	background-color: #fff;
	width: 45%;
	height: 6px;
	animation: progreso6 2s forwards;
}
@keyframes progreso1
{
	0%{width: 0}
	100%{width: 95%;}
}
@keyframes progreso2
{
	0%{width: 0}
	100%{width: 85%;}
}
@keyframes progreso3
{
	0%{width: 0}
	100%{width: 95%;}
}
@keyframes progreso4
{
	0%{width: 0}
	100%{width: 100%;}
}
@keyframes progreso5
{
	0%{width: 0}
	100%{width: 100%;}
}
@keyframes progreso6
{
	0%{width: 0}
	100%{width: 45%;}
}
/*Seccion P O R T A F O L I O*/
#portafolio
{
	margin: 1100px;
	padding: 100px 0;
	margin: auto;
}
#portafolio .titulo-seccion
{
	text-align: center;
	letter-spacing: 5px;
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}
#portafolio .fila
{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}
#portafolio .fila .proyecto
{
	max-width: 450px;
	border: 1px solid #000;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
}
#portafolio .fila .proyecto img
{
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	object-fit: cover;
	transition: .5s;
}
#portafolio .fila .proyecto:hover img
{
	filter: grayscale(0);
}
#portafolio .fila .proyecto .info
{
	position: absolute;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	color: #ff8050;
	width: 100%;
	padding: 10px;
	opacity: 0;
	bottom: -40px;
	transition: .5s;
}
#portafolio .fila .proyecto .info:hover
{
	opacity: 1;
	bottom: 0;
}
/*Seccion C O N T A C T O S*/
#contacto
{
	padding: 100px 15px;
}
#contacto .titulo-seccion
{
	margin-bottom: 20px;
	letter-spacing: 5px;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	color: #111135;
	text-decoration: underline;
	text-decoration-color: #d3d3d3;
	text-decoration-thickness: 5px;
}
#contacto .contenedor-form
{
	max-width: 1100px;
	margin: auto;
}
#contacto .contenedor-form .fila
{
	margin-bottom: 15px;
}
#contacto .contenedor-form .mitad
{
	display: flex;
	justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea
{
	padding: 20px;
	border-radius: 20px;
	border: none;
	border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input
{
	width: 48%;
}
#contacto .contenedor-form .input-full
{
	width: 100%;
}
#contacto .btn-enviar
{
	display: block;
	margin: auto;
	cursor: pointer;
	transition: .5s;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;
}
#contacto .btn-enviar:hover
{
	background-color: #ff8050;
	color: #fff;
}
footer
{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 30px 0;
}
footer a 
{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	margin: 5px;
	font-size: 26px;
}
/*Responsive*/
@media screen and (max-width: 800px)
{
	.redes
	{
		display: block;
	}
	nav
	{
		display: none;
		align-items: center;
	}
	.redes1 
	{
		display: none;
	}
	nav.responsive
	{
		display: block;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		position: absolute;
		top: 48px;
		left: 0;
		padding: 10px 0;
	}
	nav.responsive ul 
	{
		display: block !important;
		text-align: center;
	}
	nav.responsive ul li 
	{
		margin: 5px 0;
	}
	#icon-nav
	{
		display: block;
	}
	#inicio .contenido .presentacion h2
	{
		font-size: 40px;
	}
	#sobremi
	{
		padding: 50px 0;
		display: block;
	}
	#sobremi .contenedor-foto
	{
		max-width: 200px;
		margin: auto;
	}
	#sobremi .contenedor-foto img
	{
		padding: 8px;
	}
	#sobremi .sobremi .titulo-seccion
	{
		text-align: center;
	}
	#sobremi .sobremi h2
	{
		font-size: 25px;
		text-align: center;
	}
	#Servicios
	{
		padding: 50px 15px;
	}
	#Servicios .fila
	{
		display: block;
	}
	#Servicios .fila .servicio
	{
		margin: 10px auto;
	}
	#contenedor-skills
	{
		padding: 50px 20px;
		max-width: 200px;
	}
	#portafolio
	{
		padding: 50px 0;
	}
	#portafolio .fila
	{
		display: block;
	}
	#portafolio .fila .proyecto
	{
		margin: 10px auto;
	}
	#contacto
	{
		padding: 50px 15px;
	}
	#contacto .contenedor-form .mitad
	{
		margin-bottom: 15px;
		display: block;
	}
	#contacto .contenedor-form .mitad input
	{
		width: 100%;
		margin-bottom: 15px;
	}
}